.main-img
  / TODO add image src here
.about.center.col-lg-7.col-md-7.col-xs-12.col-sm-12
  .about-text.white{'data-text' => @plain }
    = raw @about
  - if admin_signed_in?
    .edit-about.white.pointer
      = fa_icon 'pencil-square-o'
    #edit_about_area.hidden
      %form{type: 'form', action: '/update_about', method: 'post'}
        = hidden_field_tag :authenticity_token, form_authenticity_token
        .form-group
          %textarea.edit-about-text{name: 'about', rows: 4, 'required' => 'required'}
        %button#cancel_edit_about.btn.btn-inverse{type: 'button'} Cancel
        %button.btn.btn-primary{type: 'submit'} Save
.feed.col-lg-4.col-md-4.col-xs-12.col-sm-12
  %h4.white Latest Feed
  %hr
  .feed.scrollable
    - if @entries.any?
      - @entries.each do |e|
        %h5.white
          = e[:title]
        .content-section.white
          = e[:content]
        %hr
