- if defined?(testimonials) && testimonials.any?
  - testimonials.each do |t|
    - if admin_signed_in? || t.approved == true
      .testimonial-box
        %p.white
          = "\"#{t.content}\""
        %p.white
          = "-#{t.name}"
        - if admin_signed_in?
          .admin-controls.white.pointer
            - if t.approved == false
              = link_to approve_comment_path(id: t.id), method: :post do
                = fa_icon "check", class: "review-control approve-review"
            = link_to delete_comment_path(id: t.id), method: :delete do
              = fa_icon "trash", class: "review-control delete-review"
        %hr
