%div{id: id, class: classes}
  = link_to "https://www.facebook.com/", {target: '_blank'} do
    = fa_icon 'facebook', class: 'facebook complimentary social-nav shadow'
  = link_to "https://www.youtube.com/", {target: '_blank'} do
    = fa_icon 'youtube', class: 'youtube complimentary social-nav shadow'
  = link_to "https://www.twitter.com", {target: '_blank'} do
    = fa_icon 'twitter', class: 'twitter complimentary social-nav shadow'
  = link_to "https://www.linkedin.com", {target: '_blank'} do
    = fa_icon 'linkedin', class: 'linkedin complimentary social-nav shadow'
