%div{id: id, class: classes}
  = link_to "https://www.facebook.com/", {target: '_blank'} do
    = fa_icon 'facebook', class: 'facebook complimentary social-nav shadow'
  = link_to "https://www.youtube.com/", {target: '_blank'} do
    = fa_icon 'youtube', class: 'youtube complimentary social-nav shadow'
  = link_to "https://www.harmorg.tumblr.com", {target: '_blank'} do
    = fa_icon 'tumblr', class: 'tumblr complimentary social-nav shadow'
